<!DOCTYPE html>
<html>
	<head>
		<title>Julia Fada</title>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial scale=1.0">
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
	</head>
	<body>
	<section class="header">
		<nav>
			<a href="/">Olá amigis!</a>
			<div class="nav-links">

				<ul>
					<li><a href="yum.html">yum!</a></li>
					<li><a href="letterboxd.com/jviknander">letterboxd</a></li>
					<li><a href="github.com/jviknander">github</a></li>
					<li><a href="fotos.html">fotos</a></li>
				</ul>		
			</div>
		</nav>
<div class="text-box">
	<h1>sejam bem vindos a mais um site de merda</h1>
	<p>Gosto de fazer muita coisa 
	<p>cozinhar</p>
	<p>ver filmes</p>
	<p>tirar fotos aos amigos</p>
	</p>
</div>





	</section>
	<!---<img src="/static/hm.jpg" alt="foto muito gira" style="width:200px;height:300px;">!--->
	</body>
</html>