<!DOCTYPE html>
<html>
	<head>
		<title>Julia Fada</title>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial scale=1.0">
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
		<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
	</head>
    <body>
        <section class="fotos">
            <h1>fotos mto xiraz</h1>
            <p>ja viram isto!?</p>
            <div class="row">
                <div class="fotos-col">
                    <img src="static/rita.jpg">
                    <!---<div class="layer"></div>!--->
                    <h3> 1</h3>
                    <p>amiga rita</p>
                </div>
                <div class="fotos-col">
                    <h3> 2</h3>
                    <p>amiga pina</p>
                </div>
                <div class="fotos-col">
                    <h3> 3</h3>
                    <p>amiga nairam</p>
                </div>
        </section>
    </body>