<!DOCTYPE html>
<html>
	<head>
		<title>Julia Fada</title>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial scale=1.0">
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
		<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
	</head>
	<body>
		<header>
			<div class="top_head">
			<a href="index.html">VIKNANDIA</a>
			</div>
			<!---MENU-->
			<nav>
				<li><a href="yum.html">00 COZINHAR</a></li>
				<li><a href="letterboxd.com/jviknander">01 VER FILMES</a></li>
				<li><a href="fotos.html">02 FOTOGRAFIA</a></li>	
			</nav>
		</header>
		<!---main--->
		<div class="flex-container">
			<img src="../static/juliafada.jpg">
			<p>olá eu sou a julia e gosto de fazer muita coisa mas não sei o que quero fazer da vida então estou a fazer um site para alegrar o meu (e o vosso!!) dia<br> um bem haja a todxs xs amigis que por aqui passam!</p>
		</div>

		</div>

	</body>
</html>