Rolinhos de couve com cuscus de pimentos em molho de tomate.

já tinha feito uma vez uma receita parecida mas ficou um bocado merda pq nao sabia mto bem o que estava a fazer. ddesta vez também não, mas vou mais preparada.
queria fazer um cuscus simples com o pimento vermelho que tenho no frigorífico há mais de uma semana, e a ideia de o embrulhar numa folha e comê-lo parece-me uma ótima ideia.

ingredientes:
tags:

primeiro, vamos saltear estes pimentos - que cortei em cubinhos -  em azeite e alho. 
enquanto está a saltear, vamos aquecer uma panela com água para quando estiver a ferver, demolhar as folhas da couve até ficarem suficientemente macias para o passo seguinte.
meanwhile bora preparar esse cuscus malandro. eu gosto de meter o cuscus num prato e fazer uma mistura de água, sumo de limão, alho, sal e pimenta