* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    vertical-align: baseline;
}
body {
    background-color : #f1affa;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
}



header{
    padding: 30px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.top_head a{
    font-size: 30px;
    color: #498323;
    margin-bottom:;
}

nav {
    padding-top: 1cm;
    list-style: none;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
nav a{
    font-size: 13px ;
    color: #498323;
}

a:link {
    text-decoration: none;
    color: #498323;
 }

header a:link {
    text-decoration: none;
    color: #498323;
}

.flex-container {
    display:inline-block;
    flex-direction: column;
}

.flex-container img {
    padding: 40px 100px;
    border: 4px solid #498323;
    width: 60%;
    display: block;
}
.flex-container p{
    display: center;
    padding: 40px 100px;
}


/*-:-:-:-:-:-:-:--:-:-:-:-:-:-:- yum -:-:-:-:-:-:-:--:-:-:-:-:-:-:-*/
.yum{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
}
.yum-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.yum-col img{
    width: 100%;
    display: block;
}
.yum-col:hover{
    box-shadow:  0 0 20px 0px rgba(0, 0, 0, 0.2);
}
h1{
    font-size: 40px;
    font-weight: 600;
}
p{
    color: #3b8a31;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-:-:-:-:-:-:-:--:-:-:-:-:-:-:- fotos -:-:-:-:-:-:-:--:-:-:-:-:-:-:-*/

.fotos{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.fotos-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.fotos-col img{
    width: 100%;
    display: block;
}

/*-:-:-:-:-:-:-:--:-:-:-:-:-:-:- layer effect -:-:-:-:-:-:-:--:-:-:-:-:-:-:-*/


.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(5, 5, 0, 0.5);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}