<!DOCTYPE html>
<html>
	<head>
		<title>yum!</title>
		<title>Julia Fada</title>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial scale=1.0">
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
		<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
	</head>
	<body>
	<h1>Ola amigis!</h1>
	<h2>Sou amiga</h2>
		<section class="yum">
			<h1>receitas mto boas</h1>
			<p>caril</p>
			<div class="row">
				<div class="yum-col">
					<h3> pão com queijo</h3>
					<p>hihihi um paragrafo aqui</p>
				</div>
				<div class="yum-col">
					<h3> chilli</h3>
					<p>hihihi um paragrafo aqui</p>
				</div>
				<div class="yum-col">
					<h3> empadas</h3>
					<p>hihihi um paragrafo aqui</p>
				</div>
			</div>
		</section>
	</body>
</html>