<!DOCTYPE html>
<html>
	<head>
		<title>Julia Fada</title>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial scale=1.0">
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
		<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
	</head>
	<body>
		<body>
			<header>
				<div class="top_head">
				<a href="base.html">VIKNANDIA</a>
				</div>
				<!---MENU-->
				<nav>
					<li><a href="yum.html">00 COZINHAR</a></li>
					<li><a href="letterboxd.com/jviknander">01 VER FILMES</a></li>
					<li><a href="fotos.html">02 FOTOGRAFIA</a></li>	
				</nav>
			</header>
		<section class="yum">
			<h3>receitas mto boas</h3>
			<p>caril</p>
			<div class="row">
				<div class="yum-col">
					<img src="/home/juliagoodprogrammer/Pictures/FadaJulia/caril0.jpg">
					<div class="layer">
						<h3> caril lentilhas e feijão</h3>
					</div>
				</div>
				<div class="yum-col">
					<h3> chilli</h3>
				</div>
				<div class="yum-col">
					<h3> empadas</h3>
				</div>
			</div>
		</section>
	</body>
</html>