<!DOCTYPE html>
<html>
	<head>
		<title>Julia Fada</title>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial scale=1.0">
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
		<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
	</head>
	<body>
		<body>
			<header>
				<div class="top_head">
				<a href="index.html">VIKNANDIA</a>
				</div>
				<!---MENU-->
				<nav>
					<li><a href="yum.html">00 COZINHAR	</a></li>
					<li><a href="letterboxd.com/jviknander">01 VER FILMES</a></li>
					<li><a href="fotos.html">02 FOTOGRAFIA</a></li>	
				</nav>
			</header>
		<section class="flex-container">
			<h3>receitas mto boas</h3>
			<p>desde que me mudei para lisboa que me deparo com um desafio muito engraçado e por vezes chato: 
				cozinhar. mas aprendi a gostar de cozinhar e aparentemente às vezes faço coisas boas!
				para todos os meus amigos que tenham curiosidade e queiram implementar uma dieta mais 
				vegan/vegetariana e para mim que às vezes me esqueço de como faço as receitas rsrsrs</p>
			<div class="grid">
				<div class="fotos-col">
					<img src="/home/juliagoodprogrammer/Desktop/JuliaFada/app/static/caril0.jpg">
					<div class="layer">
						<li><a href="caril_lentilhas_feijao.html">caril lentilhas e feijão</a></li>
					</div>
				</div>
				<div class="fotos-col">
					<img src="/home/juliagoodprogrammer/Desktop/JuliaFada/app/static/chili.jpg">
					<div class= "layer">
					<h3> chilli</h3>
					</div>
				</div>
				<div class="fotos-col">
					<img src="/home/juliagoodprogrammer/Desktop/JuliaFada/app/static/arroz_crack.jpg">
					<div class= "layer">
					<h3> arroz crack</h3>
					</div>
				</div>
				<div class="fotos-col">
					<img src="/home/juliagoodprogrammer/Desktop/JuliaFada/app/static/sandocha.jpg">
					<div class= "layer">
					<h3> sandocha</h3>
					</div>
				</div>
				<div class="fotos-col">
					<img src="/home/juliagoodprogrammer/Desktop/JuliaFada/app/static/hummus.jpg">
					<div class= "layer">
					<h3> hummus</h3>
					</div>
				</div>
				<div class="fotos-col">
					<img src="/home/juliagoodprogrammer/Desktop/JuliaFada/app/static/panquecas.jpg">
					<div class= "layer">
					<h3>panquecas</h3>
					</div>
					<div class="fotos-col">
						<img src="/home/juliagoodprogrammer/Desktop/JuliaFada/app/static/papa_aveia.jpg">
						<div class= "layer">
						<h3> papas aveia</h3>
						</div>
					</div>
					<div class="fotos-col">
						<img src="/home/juliagoodprogrammer/Desktop/JuliaFada/app/static/falafel.jpg">
						<div class= "layer">
						<h3>falafel</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>